@import "table_loader.css";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(36, 36, 36, 0.5);
  -webkit-border-radius: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
  transition: all .5s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app-wrapper{
  margin-top: 40px;
}
.ka-thead-cell{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.ka-paging-pages {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}
.ka-paging-page-index{
  margin: 0;
}
.ka-paging-page-index-active {
  background-color: inherit;
}
.ka-input{
  border-radius: 10px;
  border-color: #bdbdbd;
}
.ka-row{
  border-width: 1px;
  border-color: #bdbdbd;
}